<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">
          <%= image_tag 'depot.png', alt: "depot shop" %>
        </a>
      </div>
      <div class="main_nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Questions">Questions</a></li>
          <li><a href="/News">News</a></li>
          <li><a href="/Contact">Contact</a></li>
        </ul>
      </div>
    </header>



   <main class='<%= controller.controller_name %>'>
    <%= yield %>
  </main>
  </body>
</html>
